
<h3>Angular 6 Login user Form </h3>
<form [formGroup]="_loginForm" (ngSubmit)="onSubmit(_loginForm.value)">
 
    <div class="form-group">
      <label>Username</label>
<!--هي خاصية لتحديد القواعد المشروطة على الحقل controls-->
      <input class="form-control" [formControl]="_loginForm.controls['username']">
     </div>


     <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="password" placeholder="password" [formControl]="_loginForm.controls['password']" >
     </div>

     <button type="submit" [disabled]="!_loginForm.valid ">الدخول</button>
</form>