<div class="container">
    <div class="row">
      <div class="col-xs-12">
   
      <hr>
      <app-servers></app-servers>
      <!--<div app-servers></div>-->
      <!--<div class="app-servers"></div>-->
      <input type="text" name="inpT" [(ngModel)]="username"> 
      <p>user name: {{username}} </p>
      <button class="btn btn-danger" [disabled]="!allowinput()" (click)="resetun()">button</button>
      
      <hr>
      <app-extra></app-extra>

<h3>I'm in the AppComponent!</h3>


</div>
</div>
</div>
