

<div *ngIf='var1==1 else titl2'> <h1>{{ title }}</h1> </div>


<ng-template #titl2>
    <h1>this title 2</h1>
</ng-template>

<hr>

<ul>
    <li *ngFor="let user of users"> {{ user.name }} </li>
 </ul>

