


<div class="container">
  <div class="row">
    <div class="col-xs-12">
 

      <a routerLink="/apimain">عمل api</a> &nbsp;| &nbsp; &nbsp;

      <a routerLink="/about">صفحة التعريف بالموقع</a> &nbsp;| &nbsp; &nbsp; 
      
 <a routerLink="/forms">فورم + متفرقات </a> &nbsp; |&nbsp; &nbsp; 
 
<a routerLink="/students"> الاطلاع على جدول الطلاب</a> &nbsp;| &nbsp; &nbsp; 

<a routerLink="/main"> الصفحة الاساسية</a> &nbsp; |&nbsp; &nbsp; 

<a routerLink="/serve"> من ملف خدمة </a> &nbsp; |&nbsp; &nbsp; 



<router-outlet> </router-outlet>


      
    </div>
  </div>
</div>

