
<div style="text-algin:center;dir:rtl">

    <h3>جدول الطلاب</h3>

    <table *ngIf='studentsdata'>
      <tr>
       <th>مفتاح</th>
       <th>اسم المستخدم</th>
       <th>كلمة السر</th>
     </tr>

     <tr *ngFor='let item of studentsdata'>
       <td>{{  item.ID  }}</td>
       <td>{{  item.UserName  }}</td>
       <td>{{  item.Password  }}</td>
     </tr>
    </table>
</div>
