
<br><br>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="http://localhost:4200/apimain">CRUD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:4200/apimain">Home </a>
        </li>
      </ul>
      <a class="btn btn-outline-success my-2 my-sm-0" >Login</a>
      <a class="btn btn-outline-success my-2 my-sm-0" >Register</a>
    </div>
  </nav>
<br><br>
  <div class="container">
    <table *ngIf='users' class="table table-dark">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">password</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor='let user of users'>
              <th scope="row">{{  user.id  }}</th>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.password }}</td>
              <td><a [routerLink]="['/user/edit', user.id ]" class="btn btn-info" >Edit</a></td>
          </tr>
      </tbody>
    </table>
  </div>
  