<div>
    <h3>جدول الطلاب</h3>
    <table *ngIf='students'>
      <tr>
       <th>الاسم</th>
       <th>اللقب/الكنية</th>
       <th>الجنس</th>
       <th>العلامة</th>
     </tr>

     <tr *ngFor='let item of students'>
       <td>{{  item.firstname  }}</td>
       <td>{{  item.lastname  }}</td>
       <td>{{  item.gender  }}</td>
       <td>{{  item.note  }}</td>
     </tr>
    </table>
</div>

<!-- <div style="text-algin:center;dir:rtl">

  <h3>جدول الطلاب</h3>

  <table *ngIf='students'>
    <tr>
     <th>مفتاح</th>
     <th>اسم المستخدم</th>
     <th>كلمة السر</th>
   </tr>

   <tr *ngFor='let item of students'>
     <td>{{  item.ID  }}</td>
     <td>{{  item.UserName  }}</td>
     <td>{{  item.Password  }}</td>
   </tr>
  </table>
</div> -->
