<h1>Update user Form </h1>
<form *ngIf="user" [formGroup]="_updateForm" (ngSubmit)="onSubmit(_updateForm.value)">
 
    <div class="form-group">
      <label>Username</label>
      <input [(ngModel)]='user.username' class="form-control"  [formControl]="_updateForm.controls['username']">
     </div>

     <div class="form-group">
        <label>Email</label>
        <input [(ngModel)]='user.email' class="form-control" [formControl]="_updateForm.controls['email']">
       </div>


     <div class="form-group">
            <label>Password</label>
            <input [(ngModel)]='user.password' class="form-control" type="password" placeholder="password" [formControl]="_updateForm.controls['password']" >
     </div>

     <button type="submit" [disabled]="!_updateForm.valid ">تعديل </button>
</form>

<app-apimain></app-apimain>